.project-cards {
    max-width: 800px;
    /* background: #555; */
    /* background: #240b36; */
    /* color: white; */
    border: 1px solid #dedede;
    padding: 10px;
}
.card-imgs {
    border: 1px solid #eee;
}

.card-title {
    font-size: 1.8em;
    margin-bottom: 0;
}

.card-text, .project-tech {
    margin-bottom: 20px;
}

.project-descriptions {
    /* color: #d8c7ff; */
    color: #a86cc1;
}

.project-titles, .project-links {
    /* color: white; */
}