#home-landing {
    height: 100vh;
    color: white;
}

.home-wrapper {
    background: rgb(13, 2, 8, 0.8);
    color: white;
    padding: 20px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgb(13, 2, 8);
}

h1 {
    font-size: 4.5em;
    font-family: 'Federo', sans-serif;
}

#tagline {
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}