body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.unsplash.com/photo-1543747050-1db50a971c00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-repeat: repeat;
  background-position: top;
  /* background-size: cover; */
  color: #555;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1.05em;
}

.title-rows {
  margin-bottom: 50px;
}

.section-titles { 
  font-size: 2.5em;
}

.title-pipes {
  font-size: 1.2em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  text-decoration: none;
  color: #57bbb8;
}